@model PhotoGallery2.Models.Photo
<h5>@Model.Title</h5>
<img src="@Model.PhotoPath" alt="@Model.Title" class="img-responsive img-rounded " />
<p class="text-muted" id="PhotoDescription"><small>@Model.Description</small></p>
<div style="padding: 1%; top:50%;left:10px;position: absolute;opacity: 1;">
    <ul class="pager">
        <li class="previous">
            <a id="prevButton" accesskey="37" style="opacity: 0.5" href="#"><span class="glyphicon glyphicon-arrow-left"></span></a>
        </li>
    </ul>
</div>
<div style="padding: 1%; top:50%;right:10px; position: absolute;opacity: 1;">
    <ul class="pager">
        <li class="next">
            <a id="nextButton" accesskey="39" style="opacity: 0.5" href="#"><span class="glyphicon glyphicon-arrow-right"></span></a>
        </li>
    </ul>
</div>
@Html.HiddenFor(m=> m.PhotoID)


