@using PhotoGallery2.Models
@model PagedDataList<ManagePhotoModel>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                @Html.CheckBox("chkAll")
            </th>
            <th>
                ID
            </th>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Album
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PagedEntity)
        {
            <tr>
                <td>
                    @Html.CheckBox("chkDeleteID", htmlAttributes: new { value = item.PhotoID, @class = "input-group checkbox-inline" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="col-xs-4">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumName)
                </td>
                <td class="btn btn-group">
                    @Html.ActionLink(" ", "Details", new { photoID = item.PhotoID }, new { @class = "glyphicon glyphicon-ok btn btn-default" })
                    @Html.ActionLink(" ", "Edit", new { photoID = item.PhotoID }, new { @class = "glyphicon glyphicon-edit btn btn-default" })
                    
                    @Html.ActionLink(" ", "Index", "Comment", new { photoID = item.PhotoID }, new { @class = "glyphicon glyphicon-comment btn btn-default" })
                </td>
            </tr>
        }
        <tr>
            <td colspan="6">
                <ul class="pagination">
                    @for (int i = 1; i <= Model.NumberOfPages; i++)
                    {
                        <li>
                            <a href="javascript:void(0);" class="btn btn-link">@i</a>
                        </li>
                    }
                </ul>
            </td>
        </tr>

    </tbody>
</table>





