@model PhotoGallery2.Models.Photo

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="col-lg-6">
        <div class="media">
            <div class="media-heading">
                <p>@Model.Title</p>
                <p class="text-info">The title of the Photo.</p>
            </div>
            <img src="@Model.PhotoPath" alt="@Model.Title" class="img-rounded img-responsive media-object" />
            <br />
            <div class="media-body">
                <p>The photo description goes here.</p>
            </div>
        </div>

        @Html.HiddenFor(model => model.AlbumID)
    </div>
    <div class="col-lg-6">
        <div class="form-horizontal">
            <div class="form-group">
                <textarea id="txtComment" rows="5" cols="10" class="form-control col-lg-6"></textarea>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary form-control">
                        <span class="glyphicon glyphicon-comment"></span>
                        Comment
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to Photos", "Index", new { AlbumID = Model.AlbumID })
</p>
