@using PhotoGallery2.Models
@model PhotoGallery2.Models.Photo
@{
    ViewBag.Title = "Details";
}
<!-- Main Content Section -->
<div class="row">
    <div class="col-md-9">
        <div id="detailsView">
            @{
                Html.RenderPartial("_DetailView", Model);
            }
        </div>
    </div>
    <div class="col-md-3">
        <div id="commentsList">
            @{
                Html.RenderAction("ListComments", "Comment", new { PhotoID = Model.PhotoID });
            }
        </div>
        <br />
        <div id="submit">
            @{
                Html.RenderPartial("_UpdateComment", new UpdateComment { PhotoID = Model.PhotoID, Description = null });
            }
        </div>
    </div>
</div>
<!-- Bottom Navigation Section -->
<div class="row">
    <div class="col-md-8">
        <ul class="pager" style="margin: 0px auto">
            <li class="prev">
                <a href="~/Album"><span class="glyphicon glyphicon-picture"></span> Back to Photos </a>
            </li>
            <li>
                <a href="#" id="launch">
                    <i class="glyphicon glyphicon-camera"></i>
                    Start Slide Show
                </a>
            </li>
            <li class="next">
                <a href="#">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    Like
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Slide Show Section -->
@Html.Hidden("SlideShowUrl", Url.Action("GetPhotosForSlideShow", new { albumID = Model.AlbumID }))
@Html.Partial("_SlideShow")
<input type="hidden" id="AlbumID" value="@Model.AlbumID" />

@section Scripts{
    @Scripts.Render("~/bundles/boostrap-image-gallery")
    @Scripts.Render("~/bundles/jquery.blueimp-gallery")
    @Scripts.Render("~/bundles/bootstrap-image-gallery")
    <script type="text/javascript" src="~/Scripts/PhotoGallery/StartSlideShow.js"></script>
    <script type="text/javascript" src="~/Scripts/PhotoGallery/PhotoDetailsView.js"></script>
}