@using PhotoGallery2.Models
@model PhotoGallery2.Models.Photo
@{
    ViewBag.Title = "Details";
}
<div class="container center-block">
    <div class="row">
        <div class="col-md-8">
            <ul class="pager">
                <li class="">
                    <a href="~/Photo?AlbumID=@Model.AlbumID"><span class="glyphicon glyphicon-picture"></span> Back to Photos </a>
                </li>
                <li>
                    <a id="launch">
                        <i class="glyphicon glyphicon-camera"></i>
                        Start Slide Show
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div id="detailsView">
                @{
                    Html.RenderPartial("_DetailView", Model);
                }
            </div>
        </div>
        <div class="col-md-4">
            <div id="commentsList">
                @{
                    Html.RenderAction("ListComments","Comment",new { PhotoID = Model.PhotoID });
                }
            </div>
            <br />
            <div id="submit">
                @{
                    Html.RenderPartial("_UpdateComment", new UpdateComment { PhotoID = Model.PhotoID, Description = null });
                }
            </div>
        </div>
    </div>
    
</div>

@Html.Partial("_SlideShow")
<input type="hidden" id="albumID" value="@Model.AlbumID" />
@section Scripts{
    @Scripts.Render("~/bundles/boostrap-image-gallery")
    @Scripts.Render("~/bundles/jquery.blueimp-gallery")
    @Scripts.Render("~/bundles/bootstrap-image-gallery")
    <script type="text/javascript" src="~/Scripts/PhotoGallery/StartSlideShow.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#btnSubmit').click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    data: $('#updateCommentForm').serialize(),
                    url: '@Url.Action("UpdateComment", "Comment")',
                    success: function (result) {
                        $('#Description').val('');
                        $('#commentsList').load(
                                '@Url.Action("ListComments","Comment", new {PhotoID = Request.QueryString["PhotoID"]})', function () {
                                }
                            );
                    },
                    error: function(error) {
                        alert(error);
                    },
                    done: function (result) {
                    }
                });
            });
        });
    </script>
}