@model IEnumerable<PhotoGallery2.Models.PhotoViewModel>
@{
    ViewBag.Title = "Photos";
}
<div class="row">
    <div class="body-content pull-left">
        <a href="@Url.Action("Index","Album")" class="btn btn-primary">
            <span class=" glyphicon glyphicon-picture"></span>
            Gallery
        </a>
    </div>
    <div class="col-lg-offset-1 pull-right">
        <button id="launch" class="btn btn-primary pull-left">
            <i class="glyphicon glyphicon-camera"></i>
            Start Slide Show
        </button>
    </div>
</div>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-4 media" style="margin-top: 15px">
            <a href="~/Photo/Details?PhotoID=@item.PhotoID" class="pull-left">
                <img src="@Url.Content(item.ThumbnailPath)" class="img-rounded img-responsive media-object"
                     data-toggle="tooltip at the bottom" data-title="" data-placement="bottom"
                     alt="album-thumbnail" />
            </a>
            <div class="media-body">
                <div class="media-heading">
                    <h5>@item.Title</h5>
                </div>
                <p class="text-muted pull-right">@item.Description</p>
            </div>
            
        </div>
    }
</div>
@Html.Hidden("SlideShowUrl", Url.Action("GetPhotosForSlideShow", new { albumID = Request.QueryString["AlbumID"] }))
<input type="hidden" id="AlbumID" value="@Request.QueryString["AlbumID"]" />
<br />
@Html.Partial("_SlideShow")

@section Scripts{
    @Scripts.Render("~/bundles/boostrap-image-gallery")
    @Scripts.Render("~/bundles/jquery.blueimp-gallery")
    @Scripts.Render("~/bundles/bootstrap-image-gallery")
    <script type="text/javascript" src="~/Scripts/PhotoGallery/StartSlideShow.js"></script>
}