@model IEnumerable<PhotoGallery2.Models.PhotoViewModel>
@{
    ViewBag.Title = "Photos";
}
@Html.Hidden("AlbumID",Request.QueryString["AlbumID"], new { id = "AlbumID"})

<div class="row">
    <div class="body-content pull-left">
        <p>
            @Html.ActionLink("Back to Gallery", "Index", "Album")
        </p>
    </div>
    <div class="col-lg-offset-1 pull-right">
        <button id="launch" class="btn btn-primary pull-left">
            <i class="glyphicon glyphicon-camera"></i>
            Start Slide Show
        </button>
    </div>
</div>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-xs-4">
            <div id="links">
                <a href="~/Photo/Details?PhotoID=@item.PhotoID">
                    <img src="@Url.Content(item.ThumbnailPath)" class="img-rounded img-responsive"
                         data-toggle="tooltip at the bottom" data-title="" data-placement="bottom"
                         alt="album-thumbnail" />
                </a>
            </div>
            <h4>@item.Title</h4>
            <br />
            <p class="text-muted">@item.Description</p>
        </div>
    }
</div>
<br />
@Html.Partial("_SlideShow")

@section Scripts{
    @Scripts.Render("~/bundles/boostrap-image-gallery")
    @Scripts.Render("~/bundles/jquery.blueimp-gallery")
    @Scripts.Render("~/bundles/bootstrap-image-gallery")
    <script type="text/javascript" src="~/Scripts/PhotoGallery/StartSlideShow.js"></script>
}