@model PhotoGallery2.Models.Photo
@{
    ViewBag.Title = "Upload Photos";
}

@using (Html.BeginForm("Upload", "Photo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <h4>Upload Photos.</h4>
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-lg-3">
                Select album
            </div>
            <div class="col-lg-3">
                @Html.DropDownList("Albums")
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-3">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="col-md-5">
                @Html.TextBoxFor(model => model.Description)
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-7">
                <input type="file" name="files" id="files" multiple="multiple" value="select file" class="input-lg" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-3">
                <button type="submit" value="upload" class="btn btn-primary">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>

            </div>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Back to List", "ListAlbums", "Album")
</p>