@model PhotoGallery2.Models.Album
@{
    ViewBag.Title = "Create";
}
<div class="col-xs-8">
    <div class="panel panel-collapse panel-primary">
        <div class="panel panel-heading">
            <h2 class="panel-title">New Album</h2>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm(null,null,FormMethod.Post,new { @class="form-horizontal"}))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true)

                    <div class="form-group">
                        <div class="col-xs-3">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                        </div>
                        <div class="col-xs-8">
                            @Html.EditorFor(model => model.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3">
                            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
                        </div>
                        <div class="col-xs-8">
                            @Html.EditorFor(model => model.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3">
                            @Html.LabelFor(model => model.CreateDate, new { @class = "control-label" })
                        </div>
                        <div class="col-xs-8">
                            @Html.EditorFor(model => model.CreateDate, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CreateDate)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-3 col-xs-8">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Manage")
    </div>
</div>
