@using System.Web.UI.HtmlControls
@model IEnumerable<PhotoGallery2.Models.Album>

@{
    ViewBag.Title = "ListAlbums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">List of Albums</h2>
        
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        Created
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="col-md-5">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @Html.ActionLink(" Details", "Details", new { id = item.AlbumID }, new { @class = "glyphicon glyphicon-ok btn btn-warning" })

                            @Html.ActionLink(" Edit", "Edit", new { id = item.AlbumID }, new { @class = "glyphicon glyphicon-edit btn btn-info" })

                            @Html.ActionLink(" Delete", "Delete", new { id = item.AlbumID }, new { @class = "glyphicon glyphicon-trash btn btn-danger" })

                            @Html.ActionLink(" Upload", "Upload", "Photo", new { albumID = item.AlbumID }, htmlAttributes: new { @class = "glyphicon glyphicon-upload btn btn-primary" })

                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <p>
                            @Html.ActionLink(" Create New ", "Create", null, htmlAttributes: new { @class = "glyphicon glyphicon-plus btn btn-primary" })
                        </p>                        
                    </td>
                </tr>
            </tfoot>
        </table>        
    </div>

</div>


