@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity
@model PhotoGallery2.Models.ManageUserViewModel
<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>

    @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", style = "margin: 15px", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4 class="caption hidden-xs">Change Password Form</h4>
        <br />
        <div class="form-group">
            <label class="col-md-4 control-label hidden-xs hidden-sm">Current Password</label>
            <div class="col-md-6">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", autofocus = true, required = true, placeholder="Current Password" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label hidden-xs hidden-sm">New Password</label>
            <div class="col-md-6">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", required = true, placeholder="New Password" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label hidden-xs hidden-sm">Confirm New Password</label>
            <div class="col-md-6">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = true, placeholder="Confirm New Password" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-6">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-lock"></span>
                    Change password
                </button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.ValidationSummary(false)
            </div>
        </div>
    }

