@model PhotoGallery2.Models.ManageUserViewModel
@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id="changePasswordForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group hidden-xs">
        <div class="col-md-6">
            <p class="caption"><strong>Change Password Form</strong></p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", autofocus = true, required = true, placeholder = "Current Password" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", required = true, placeholder = "New Password" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = true, placeholder = "Confirm New Password" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <button type="button" id="btnChangePassword" class="btn btn-primary">
                <span class="glyphicon glyphicon-lock"></span>
                Change password
            </button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.ValidationSummary(false)
        </div>
    </div>
}

