@model PhotoGallery2.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<div class="well col-md-offset-2 col-md-8">
    <h2>@ViewBag.Title</h2>
    <div class="col-md-7">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Use a local account to log in.</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "UserName", autofocus = true, required = true })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                </div>
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = true })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-6 checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-md-6">
                    <input type="submit" value="Log in" class="btn btn-primary" />
                </div>
            </div>
            <p>
                @Html.ActionLink("Register", "Register") if you don't have a local account.
            </p>
        }
    </div>
    <div class="col-md-5">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}