@using PhotoGallery2.Models
@{
    ViewBag.Title = "Manage Account";
}
<div class="row col-md-11">
    <div class="panel panel-primary panel-collapse">
        <div class="panel-heading">
            <div class="panel-title">
                <h4>@ViewBag.Title.</h4>
            </div>
        </div>
        <div class="panel-body ">
            <div class="col-md-7">
                @(ViewBag.HasLocalPassword ? Html.Partial("_ChangePasswordPartial") : Html.Partial("_SetPasswordPartial"))
            </div>
            <div class="col-md-4">
                <section id="externalLogins">
                    @Html.Action("RemoveAccountList")
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>
        <div class="panel-footer">
            <p class="text-success">@ViewBag.StatusMessage</p>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
