@using PhotoGallery2.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}
<div class="row">
    @*<h2>@ViewBag.Title.</h2>*@
    <p class="text-success">@ViewBag.StatusMessage</p>

    <div class="col-md-8">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
    </div>
    <div class="col-md-4">
        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
