@model IEnumerable<PhotoGallery2.Models.Comment>
@{
    ViewBag.Title = "Index";
}
<div id="loadComments">
    <table class="table">
        <tr>
            <th class="col-xs-1">
                @Html.CheckBox("chkAll", false, new { id = "chkAll" })
            </th>
            <th class="col-xs-3">
                @Html.DisplayNameFor(model => model.User.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="col-xs-2"> </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.CheckBox("chkDeleteID", false, htmlAttributes: new { value = item.CommentID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="text-justify">
                    @Html.ActionLink(" ", "Edit", new { id = item.CommentID }, new { @class = "glyphicon glyphicon-edit " }) |
                    @Html.ActionLink(" ", "Details", new { id = item.CommentID }, new { @class = "glyphicon glyphicon-ok" })
                </td>
            </tr>
        }
        <tr>
            <td colspan="4">
                <button type="submit" id="btnDelete" class="btn btn-danger">Delete</button>
            </td>
            
        </tr>
    </table>
</div>
<div>
    @Html.ActionLink("Back to photos", "Manage", "Photo")


</div>
@Html.Hidden("DeleteUrl", @Url.Action("DeleteComments", "Comment"))

@section Scripts{
    <script type="text/javascript" src="~/Scripts/PhotoGallery/GlobalFunctions.js"></script>
}

